[Unit]
Description=Power Loss and Uptime Tracker
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /root/network_stats/power_tracker.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target